body {
  background-color: pink;
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: rgb(187, 184, 37);
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  border: solid;
}

.playerWins {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  background-color: beige;
  width: 200px;
  border: solid;
  margin: 10px;
}
